@import url('../main.css');

.rightPosition input[type='text'] {
	text-indent: 15px;
}

.component {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 10px;
}

.component input[type='text'] {
	margin: 0px;
	text-indent: 5rem;
}

.icon {
	position: absolute;
	padding: 0px 20px;
	border: 1px solid #adb5bd;
	height: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
}

.leftIcon {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.rightIcon {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.icon.iconError {
	border: 1px solid #e35053;
}

.rightIconsError {
	position: absolute;
	padding: 0px 20px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 48px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	border: 1px solid #e35053;
}

.rightPosition {
	justify-content: flex-end;
}

.footerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px 0px 5px;
}

.footerText {
	color: #128fee;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.5px;
}
