@import url('../main.css');

.component {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
}

.componentLeft {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.component input[type='text'] {
	margin: 0px;
	text-indent: 5.5rem;
}

.button {
	padding: 0px 20px;
	height: 50px;
	position: absolute;
	border: 1px solid #adb5bd;
	background-color: #fff;
}

.leftButton {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.rightButton {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.rightButton.buttonError,
.leftButton.buttonError {
	border: 1px solid #e35053;
}

.rightPosition {
	justify-content: flex-end;
}

.rightPosition input[type='text'] {
	text-indent: 15px;
}

.footerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px 0px 5px;
}

.footerText {
	color: #128fee;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0.5px;
}
