.container {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	border-radius: 0.3125rem;
	height: 50px;
}

.primary:disabled,
.danger:disabled,
.secondary:disabled,
.warning:disabled,
.black:disabled {
	user-select: none;
	pointer-events: none;
	background-color: #f4f4f4;
	color: #636465;
	border-color: #636465;
}

.small {
	width: 10rem;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
}

.medium {
	width: 15rem;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
}

.large {
	width: 20rem;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
}

.xlarge {
	width: 100%;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
}

.none {
	color: #000;
	border: unset;
	background: unset;
}

.danger {
	background-color: #e35053;
	color: #000;
	font-weight: 700;
	border: 0.0625rem solid #e35053;
}
.danger:hover {
	background-color: rgba(227, 80, 83, 0.9);
}
.danger:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgb(227, 80, 83, 0.5);
	outline: none;
}

.black {
	color: #fff;
	font-weight: 700;
	background-color: #000;
	border: 0.0625rem solid #000;
}
.black:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.9);
}
.black:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.5);
	outline: none;
}

.primary {
	background-color: #0d6efd;
	color: #fff;
	border: 0.0625rem solid #0d6efd;
}
.primary:hover {
	background-color: rgba(13, 110, 253, 0.9);
}
.primary:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(13, 110, 253, 0.5);
	outline: none;
}

.outlined.danger {
	background-color: transparent;
	font-weight: 700;
	color: #e35053;
	border: 0.094rem solid #e35053;
}
.outlined.danger:hover {
	color: #000;
	font-weight: 700;
	background-color: #e35053;
}

.outlined.black {
	background-color: transparent;
	font-weight: 700;
	color: #000;
	border: 0.094rem solid #000;
}
.outlined.black:hover {
	background-color: #000;
	font-weight: 700;
	color: #fff;
}

.outlined.primary {
	background-color: transparent;
	font-weight: 700;
	color: #0d6efd;
	border: 0.094rem solid #0d6efd;
}
.outlined.primary:hover {
	background-color: #0d6efd;
	color: #fff;
}

.outlined.warning {
	background-color: transparent;
	font-weight: 700;
	color: #ffc107;
	border: 0.094rem solid #ffc107;
}
.outlined.warning:hover {
	background-color: #ffc107;
	font-weight: 700;
	color: #000;
}

.outlined.secondary {
	background-color: transparent;
	font-weight: 700;
	color: #6c757d;
	border: 0.094rem solid #6c757d;
}
.outlined.secondary:hover {
	background-color: #6c757d;
	font-weight: 700;
	color: #fff;
}

.outlined.success {
	background-color: transparent;
	font-weight: 700;
	color: #198754;
	box-shadow: #198754;
	border: 0.094rem solid #198754;
}
.outlined.success:hover {
	background-color: #198754;
	font-weight: 700;
	color: #fff;
}

.warning {
	background-color: #ffc107;
	color: #000;
	font-weight: 700;
	border: 0.0625rem solid #ffc107;
}
.warning:hover {
	color: #000;
	background-color: rgba(255, 193, 7, 0.9);
}
.warning:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(255, 193, 7, 0.5);
	outline: none;
}

.secondary {
	background-color: #6c757d;
	color: #fff;
	border: 0.0625rem solid #6c757d;
}
.secondary:hover {
	background-color: rgba(108, 117, 125, 0.9);
}
.secondary:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(108, 117, 125, 0.5);
	outline: none;
}

.success {
	background-color: #198754;
	font-weight: 700;
	color: #fff;
	border: 0.0625rem solid #198754;
}
.success:hover {
	color: #fff;
	background-color: rgba(25, 135, 84, 0.9);
}
.success:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(25, 135, 84, 0.5);
	outline: none;
}
