@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';

.date-range-input {
	display: flex;
	flex-direction: column;
	flex-wrap: unset;
	justify-content: center;
	align-items: stretch;
}

.date-range-dropdown {
	width: 100%;
	box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15);
	border: 1px solid #c5c5c5;
	border-radius: 0.3125rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.date-range-dropdown-header {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.date-range-dropdown-body {
	display: flex;
	flex-direction: row;
	align-self: center;
	align-items: baseline;
	margin-bottom: 25px;
}

.date-range-dropdown-footer {
	border-top: 0.063rem solid #c5c5c5;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.close-btn svg {
	width: 1rem;
	height: 1rem;
}

.right-icon:disabled svg path {
	fill: #c5c5c5;
}
