.action-dropdown {
	position: relative;
	max-width: 20rem;
}
.action-dropdown-button {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.action-dropdown-button.primary svg > path {
	fill: white;
}
.action-dropdown-button.primary.small {
	max-width: 20rem;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
	min-height: 2.0625rem;
	background-color: #037283;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 0.3125rem;
	box-shadow: #037283;
	border: 0.0625rem solid #037283;
	padding: 0.375rem 1.5rem;
}
.action-dropdown-button.primary.small:hover {
	background: #004c57;
}
.action-dropdown-button.primary.small.disabled {
	user-select: none;
	pointer-events: none;
	background: #c5c5c5;
	color: #fff;
	border-color: #c5c5c5;
}
.action-dropdown-button.primary.small:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(3, 114, 131, 0.5);
	outline: none;
}
.action-dropdown-button.primary.medium {
	max-width: 20rem;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
	min-height: 2.5rem;
	background-color: #037283;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 0.3125rem;
	box-shadow: #037283;
	border: 0.0625rem solid #037283;
}
.action-dropdown-button.primary.medium:hover {
	background: #004c57;
}
.action-dropdown-button.primary.medium.disabled {
	user-select: none;
	pointer-events: none;
	background: #c5c5c5;
	color: #fff;
	border-color: #c5c5c5;
}
.action-dropdown-button.primary.medium:focus {
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(3, 114, 131, 0.5);
	outline: none;
}
.action-dropdown-button.secondary.small {
	max-width: 20rem;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
	min-height: 2.0625rem;
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 0.3125rem;
	box-shadow: #037283;
	border: 0.0625rem solid #037283;
	padding: 0.375rem 1.5rem;
}
.action-dropdown-button.secondary.small:hover {
	background-color: #fff;
	color: #004c57;
	border: 0.0625rem solid #004c57;
}
.action-dropdown-button.secondary.small.disabled {
	user-select: none;
	pointer-events: none;
	background: #fff;
	color: #c5c5c5;
	border-color: #c5c5c5;
}
.action-dropdown-button.secondary.small:focus {
	background-color: #fff;
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(3, 114, 131, 0.5);
	outline: none;
}
.action-dropdown-button.secondary.medium {
	max-width: 20rem;
	padding: 0.375rem 2rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
	min-height: 2.5rem;
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 0.3125rem;
	box-shadow: #037283;
	border: 0.0625rem solid #037283;
}
.action-dropdown-button.secondary.medium:hover {
	background-color: #fff;
	color: #004c57;
	border: 0.0625rem solid #004c57;
}
.action-dropdown-button.secondary.medium.disabled {
	user-select: none;
	pointer-events: none;
	background: #fff;
	color: #c5c5c5;
	border-color: #c5c5c5;
}
.action-dropdown-button.secondary.medium:focus {
	background-color: #fff;
	box-shadow: 0 0 0.1875rem 0.1875rem rgba(3, 114, 131, 0.5);
	outline: none;
}
.action-dropdown-button:disabled svg path {
	fill: #c5c5c5;
}
.action-dropdown-list {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 0.313rem;
	margin-top: 0.313rem;
	list-style: none;
	z-index: 5;
	padding: 0.125rem 0 0.187rem;
	border: 0.063rem solid #e5e5e5;
	box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.15);
}
.action-dropdown-list button {
	border: none;
	text-align: start;
	background-color: #fff;
	padding: 0.562rem 1.5rem;
	margin-top: 0.062rem;
}
.action-dropdown-list button:not(:disabled) {
	color: #2f2f2f;
}
.action-dropdown-list button:hover {
	background-color: #f4f5f8;
}
.action-dropdown-list button:focus {
	background: #f4f5f8;
	box-shadow: 0 0 0.25rem #037283;
}
