/*
*   Any styling used by all textboxes goes here 
*   @import url('../main.css') at the top of 
*   each style.css file
*/

input[type='text'] {
	background: #fff;
	height: 50px;
	width: 100%;
	cursor: pointer;
	border: 1px solid #adb5bd;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 10px;
	color: #101820;
	font-style: normal;
	letter-spacing: 0.5px;
	text-indent: 15px;
}

input[type='text']:placeholder {
	color: #636367;
}

input[type='text']:focus {
	outline: none;
	border: 1px solid #62b5e5;
	box-sizing: border-box;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

input[type='text']:disabled {
	background: #f4f4f4;
	border: 1px solid #adb5bd;
	color: #636465;
}

.right-position {
	justify-content: flex-end;
}
