.container {
	display: flex;
	flex-direction: column;
	box-shadow: 0 0.25rem 0.25rem rgb(173, 181, 189);
	border: 0.5px solid #adb5bd;
	border-radius: 0.313rem;
}

.header {
	border-bottom: 0.5px solid #adb5bd;
	padding: 0px 15px 15px;
	margin-bottom: 0px;
}

.body {
	padding: 15px;
}
