.container {
	padding: 5px;
	text-indent: 0.7rem;
}

.messageContainer {
	margin-top: 15px;
}

.error,
.invalid {
	border-left: 5px solid #d60000;
	background-image: linear-gradient(
		to right,
		rgb(214, 0, 0, 0.3),
		rgb(255, 255, 255, 0)
	);
}

.imported,
.ready,
.complete,
.submitted {
	border-left: 5px solid #00853d;
	background-image: linear-gradient(
		to right,
		rgb(0, 133, 61, 0.3),
		rgb(255, 255, 255, 0)
	);
}

.importing,
.waiting,
.queued,
.running,
.estimating {
	border-left: 5px solid #ffb800;
	background-image: linear-gradient(
		to right,
		rgb(255, 184, 0, 0.3),
		rgb(255, 255, 255, 0)
	);
}
