.spinnerOverlay {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	background: rgb(99, 99, 103, 0.3);
	opacity: 0.7;
}

.spinnerOverlay .spinnerBorder {
	position: absolute;
	left: 49%;
	top: 42%;
	width: 3.43rem;
	height: 3.43rem;
	border-width: 0.5rem;
}
