.container {
	border-radius: 8px;
	width: fit-content;
}

.container button:hover {
	background: #f4f4f4;
}

.container button:not(:first-child),
.container button:not(:last-child) {
	display: flex;
	align-self: stretch;
	justify-content: center;
}

/* Size */
.small,
.small button {
	width: 15rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
	font-weight: 700;
}

.medium,
.medium button {
	width: 20rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
	font-weight: 700;
}

.large,
.large button {
	width: 35rem;
	font-size: 0.875rem;
	line-height: 1.3rem;
	font-weight: 700;
}

.xlarge,
.xlarge button {
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.3rem;
	font-weight: 700;
}

/* Orentation */
.horizontal {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.horizontal button {
	border-right: 0.0625rem solid #000;
}

.vertical {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.vertical button {
	border-bottom: 0.0625rem solid #000;
}

.horizontal button:first-child:hover,
.horizontal button:first-child:focus {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
.horizontal button:last-child:hover,
.horizontal button:last-child:focus {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.vertical button:first-child:hover,
.vertical button:first-child:focus {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.vertical button:last-child:hover,
.vertical button:last-child:focus {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.container.horizontal button:last-child,
.container.vertical button:last-child,
.container.horizontal.contained button:last-child,
.container.vertical.contained button:last-child,
.container.horizontal.outlined button:last-child,
.container.vertical.outlined button:last-child {
	border-right: unset;
	border-bottom: unset;
}

/* Black Color */
.contained.black {
	background: #000;
	border: 0.0625rem solid #373737;
}
.contained.black.horizontal button {
	color: #fff;
	border-right: 0.0625rem solid #373737;
}
.contained.black.vertical button {
	color: #fff;
	border-bottom: 0.0625rem solid #373737;
}
.contained.black button:hover {
	background-color: rgba(55, 55, 55, 0.9);
}

.outlined.black {
	border: 0.0625rem solid #000;
}
.outlined.black.horizontal button {
	color: #000;
	border-right: 0.0625rem solid #000;
}
.outlined.black.vertical button {
	color: #000;
	border-bottom: 0.0625rem solid #000;
}
.outlined.black button:hover {
	background-color: rgba(0, 0, 0, 0.9);
	color: #fff;
}

/* Danger Color */
.contained.danger {
	background-color: #e35053;
	border: 0.0625rem solid #dc2a2d;
}
.contained.danger.vertical button {
	color: #000;
	border-bottom: 0.0625rem solid #dc2a2d;
}
.contained.danger.horizontal button {
	color: #000;
	border-right: 0.0625rem solid #dc2a2d;
}
.contained.danger button:hover {
	background-color: rgba(220, 42, 45, 0.9);
}

.outlined.danger {
	border: 0.0625rem solid #e35053;
}
.outlined.danger.vertical button {
	color: #e35053;
	border-bottom: 0.0625rem solid #e35053;
}
.outlined.danger.horizontal button {
	color: #e35053;
	border-right: 0.0625rem solid #e35053;
}
.outlined.danger button:hover {
	background-color: rgba(227, 80, 83, 0.9);
	color: #000;
}

/* Primary Color */
.contained.primary {
	background-color: #0d6efd;
}
.contained.primary vertical button {
	color: #fff;
	border-bottom: 0.0625rem solid #0263f4;
}
.contained.primary.horizontal button {
	color: #fff;
	border-right: 0.0625rem solid #0263f4;
}
.contained.primary button:hover {
	background-color: rgba(2, 99, 244, 0.9);
}

.outlined.primary {
	border: 0.0625rem solid #0d6efd;
	color: #0d6efd;
}
.outlined.primary.vertical button {
	color: #0d6efd;
	border-bottom: 0.0625rem solid #0d6efd;
}
.outlined.primary.horizontal button {
	color: #0d6efd;
	border-right: 0.0625rem solid #0d6efd;
}
.outlined.primary button:hover {
	background-color: rgba(13, 110, 253, 0.9);
	color: #fff;
}

/* Warning Color */
.contained.warning {
	background: #ffc107;
	color: #000;
	border: 1px solid #f2b500;
}
.contained.warning.vertical button {
	border-bottom: 0.0625rem solid #f2b500;
}
.contained.warning.horizontal button {
	border-right: 0.0625rem solid #f2b500;
}
.contained.warning button:hover {
	color: #000;
	background-color: rgba(242, 181, 0, 0.9);
}

.outlined.warning {
	border: 0.0625rem solid #ffc107;
}
.outlined.warning.vertical button {
	border-bottom: 0.0625rem solid #ffc107;
}
.outlined.warning.horizontal button {
	border-right: 0.0625rem solid #ffc107;
}
.outlined.warning button:hover {
	color: #000;
	background-color: rgba(255, 193, 7, 0.9);
}

/* Secondary Color */
.contained.secondary {
	background: #6c757d;
	color: #fff;
	border: 1px solid #656d75;
}
.contained.secondary.vertical button {
	color: #fff;
	border-bottom: 0.0625rem solid #656d75;
}
.contained.secondary.horizontal button {
	color: #fff;
	border-right: 0.0625rem solid #656d75;
}
.contained.secondary button:hover,
.contained.secondary button:focus {
	background-color: rgba(101, 109, 117, 0.9);
}

.outlined.secondary {
	border: 0.0625rem solid #6c757d;
}
.outlined.secondary.vertical button {
	color: #6c757d;
	border-bottom: 0.0625rem solid #6c757d;
}
.outlined.secondary.horizontal button {
	color: #6c757d;
	border-right: 0.0625rem solid #6c757d;
}
.outlined.secondary button:hover,
.outlined.secondary button:focus {
	color: #fff;
	background-color: rgba(108, 117, 125, 0.9);
}

/* Success Color */
.contained.success {
	background: #198754;
	border: 1px solid #177c4d;
}
.contained.success.vertical button {
	border-bottom: 0.0625rem solid #177c4d;
	color: #fff;
}
.contained.success.horizontal button {
	border-right: 0.0625rem solid #177c4d;
	color: #fff;
}
.contained.success button:hover,
.contained.success button:focus {
	background-color: rgba(23, 124, 77, 0.9);
}

.outlined.success {
	border: 0.0625rem solid #198754;
}
.outlined.success.vertical button {
	border-bottom: 0.0625rem solid #198754;
	color: #198754;
}
.outlined.success.horizontal button {
	border-right: 0.0625rem solid #198754;
	color: #198754;
}
.outlined.success button:hover,
.outlined.success button:focus {
	color: #fff;
	background-color: rgba(25, 135, 84, 0.9);
}
