.color-medium-grey-3 {
	color: #6a6a6a;
}

.text-fixed.med-8 {
	font-size: 0.875rem;
	line-height: 1.3125rem;
}
.accordion-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: none;
	border: none;
	width: 100%;
	padding: 0;
}
.accordion-rotate-icon {
	transform: rotate(180deg);
}
